.hero {
    min-height: calc(100vh - 6rem);
    margin: 6rem 4rem 0rem 4rem;
    display: flex;
    align-items: center;
}

.left-part {
    flex: 2;
}

.right-part {
    flex: 3;
}

.right-picture {
    width: 100%;
}

.left-part p {
    margin: 3rem 0rem;
    font-weight: 500;
}

.support-wrapper {
    background-color: #dce0e6;
}

.vect1,
.vect2 {
    object-fit: cover;
    width: 100vw;
}

.vect1 {
    transform: translateY(-10%);
}

.vect2 {
    transform: translateY(10%);
}

.logos-wrapper {
    margin-bottom: 2rem;
}

.logos-wrapper img {
    object-fit: cover;
    height: 7rem;
}

.logos-wrapper h2 {
    margin: 2rem 4rem 2rem 4rem;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.logo-image {
    margin: 0 auto;
}

.tishtos-wrapper {
    margin: 0rem 4rem;
    min-height: calc(100vh - 6rem);
    background-color: #011a31;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    align-items: center;
}

.left-img {
    flex: 2;
}

.left-img img {
    width: 100%;
    object-fit: cover;
}

.right-part {
    flex: 3;
}

.right-part p {
    margin-top: 3rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 885px) {
    .logos {
        flex-direction: column;
        gap: 3rem;
    }

    .hero {
        flex-direction: column;
        margin: 10rem 0rem 0rem 0rem;
    }

    .left-part {
        width: 80%;
    }

    .tishtos-wrapper {
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 4rem;
    }

    .left-img {
        width: 60%;
        transform: translateX(-15%);
    }
}
